<div class="media">
  <div class="media-body">
    <h4 class="media-heading">

      <!-- Creat a link to the show view for each list -->
      <%= link_to list.name, list %>
    </h4>
    <small>
      <%= list.description %>
    </small>
  </div>
</div>
