<div class="media">
  <div class="media-body">
<table class="table table-striped">
    <tr>
      <th>name</th>
      <th>email</th>
      <th>role</th>
    </tr>
    <% user.each do |f| %>
    <tr>
    <td><%=  user.name %></td>
    <td><%=  user.email %></td>
    <td><%=  user.role %></td>
    <tr>

    
</table>
  </div>
</div>
