<div class="media">
  <div class="media-body">
<table class="table table-striped">
    <tr>
      <th>Id</th>
      <th>email</th>
      <th>role</th>
    </tr>
    <% @user.each do |user| %>
    <tr>
    <td><%=  user.id %></td>
    <td><%=  user.email %></td>
    <td><%= user.role %></td>

<% end %>
    <tr>

</table>
  </div>
</div>
